/* #region head */
* {
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
li {
    list-style: none;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}
img {
    display: block;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* #endregion head */
/* #region header */
.header {
    border-bottom: 1px solid #E7E9FC;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 76px;
}
.header .head-container {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E7E9FC;
}
.page-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
}
.list-nav {
    display: flex;
    gap: 40px;
}
.logo-head {
    font-weight: 700;
    color: #2E2F42;
}
.page-nav .list-nav .link {
    display: block;
    font-weight: 500;
    text-decoration: none;
    padding: 24px 0;
    color: #2E2F42;    
}
.page-nav .list-nav .link:hover,
.page-nav .list-nav .link:focus {
    color: #404BBF;
}
.page-address {
    font-style: normal;
    justify-content: flex-end;
}
.page-address .link {
    text-decoration: none;
    color: #434455;
}
.page-address .link:hover,
.page-address .link:focus {
    color: #404BBF;
}
.listing-address {
    align-items: center;
    display: flex;
    gap: 40px;
}

/* #endregion header */
/* #region section solutions */
.sec-solutions {
    background-color: #2E2F42;

    padding: 188px 0;
}
.sec-solutions .page-title {
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;

    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}
.sec-solutions .button {
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4d5ae5;
    cursor: pointer;
    
    padding: 16px 32px;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    white-space: nowrap;
    border-radius: 4px;
    display: block;
    border: none;
}
.sec-solutions .button:hover,
.sec-solutions .button:focus {
    background-color: #404BBF;
}
/* #endregion section solutions */
/* #region adventages */
.sec-advantages {
    padding: 120px 0;
}
.sec-advantages .club-list {
    display: flex;
    gap: 24px;
    /* justify-content: space-between; */
}
.sec-advantages .club-list .list {
    flex-basis: calc((100% - 72px) / 4);
}
.club-list .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;

    margin-bottom: 8px;
}
/* #endregion adventages */
/* #region our team */
.sec-team {
    background-color: #F4F4FD;

    padding: 120px 0;
}
.sec-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;

    text-align: center;
    white-space: nowrap;
    margin-bottom: 72px;
}
.page-listing {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.sec-team .list {
    background-color: #FFFFFF;

    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.sec-team .page-listing .list .name {
    padding: 32px 0;
}
.sec-team .list .title {
    text-align: center;

    margin-bottom: 8px;
}
.sec-team .list .text-list {
    text-align: center;
}
.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    
}
/* #endregion our team */
/* #region Portfolio */
.sec-portfolio {
    padding: 120px 0 120px 0;
}
.sec-portfolio .club-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
    row-gap: 48px;
}
.sec-portfolio .con-portfolio {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}
/* #endregion Portfolio */
/* #region footer */
.sec-footer {
    background-color: #2E2F42;

    padding: 100px 0;
}
.logo-foot {
    font-weight: 700;
    color: #F4F4FD;
}
.sec-footer .logo {
    margin-bottom: 16px;
    display: inline-block;
}
.sec-footer .text-list {
    color: #F4F4FD;

    padding-right:866px;
}
/* #endregion footer */